<div class="wrapper">
  <nav-header (rightSidebarClick)="onRightSidebarClick()"></nav-header>
  <!-- Left Sidebar -->
  <nav-left-sidebar></nav-left-sidebar>
  <!-- /.left-sidebar -->
  <!-- Content Wrapper -->
  <div class="content-wrapper">
    <!-- Main content -->
    <router-outlet></router-outlet>
    <!-- /.main-content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- Footer -->
  <app-footer></app-footer>
  <!-- ./footer -->
  <!-- Right Sidebar -->
  <nav-right-sidebar [isRightSidebarOpen]="isControlSidebarOpen"></nav-right-sidebar>
  <!-- /.right-sidebar -->
</div>
<!-- ./wrapper -->
